    <div class="container">
      <div class="align-items">
          <form method="get" action="/celebrities/search">
            <input class="search" type="search" name="celebSearchTerm" placeholder="Search here...">
            <button type="submit" class="btn btn-default search-btn">SEARCH</button>
  
          </form>
      </div>
          <hr>
      <div class="dash-work container shadow-2" data-aos="fade-up">
      <div class="dash-head align-items">
        <div class="w-150 align-items-center">
          <img class="shadow-1" src="/images/trending-icon copy.png" alt="music-icon" width="50px" height="50px">
          <h4 class="white-text text-shadow fs-20">Trending</h4>
        </div>
        <div class='nav-list'>

        </div>
      </div>
      <hr>
      <div class="dash-info-1 ">
         
            {{#each work}}
        <div class="dash-info-each-lg align-items" >

          <div class="pill-width-dash align-items-center nav-list dash-info-1">
              <video id="my-video" class="video-js shadow-1" controls preload="auto" width="200" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                <source src="{{this.media}}" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
              <div id="item-info">
                
                <h4 class="gray-text no-lh"><b>{{this.projectname}}</b></h4>
                {{!-- /profile/1234567890 => because work model has user field that captures the ID of the user who created it --}}
                <a href="/profile/{{this.user}}"><p class="gray-text fs-12" >{{this.artistname}}</p></a>
              </div>
              <div id="item-genre" class="nav-list">
                <h4 class="gray-text fs-12 lh-px">{{this.genre}}</h4>
              </div>
              <div class="nav-list align-items-center" >
                <img src="/images/play-icon.png" alt="play-icon" width="15px" height="15px">
                <p class="gray-text fs-12">152</p>
              </div>
              <div class="nav-list align-items-center">
                <img src="/images/download-icon.png" alt="download-icon" width="18px" height="18px">
                <p class="gray-text fs-12">32</p>
              </div>

              <div>
  
                  <a href="/p/dashboard/{{this._id}}/edit"><button class="gray-text fs-12">Edit</button></a>
                
                <br>
                <form action="/p/dashboard/{{this._id}}/delete" method="POST">
                  <button href="/delete" class="gray-text fs-12">Delete</button>
                </form>
                
              </div>
          </div>
          <br>
        </div>
        <br>
        
          {{/each}}
          
      </div>
    </div>
{{!-- <h4>{{this.projectname}}</h4>
              <a href="/profile/{{this._id}}"><h5>{{this.artistname}}</h5></a> --}}